{% extends 'main.html'%}
{% block crud_container %}
    {% if user_list %}
        <h2 align="center"> В переданном списке один пользователь </h2>
        <article class="card container fluid"></article>
        <br>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Id: {{ user_list[0]['id'] }},
                    <a href="templates/user_card.html">Username: {{ user_list[0]['username']
                        }}</a>,
                    Age: {{ user_list[0]['age'] }}
                </li>
            </ul>
        </div>
    {% else %}
        <section class="container-fluid">
            <h2 align="center">В переданном списке {{ users_list|length }} пользователей</h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for user in users_list %}
                        <li class="list-group-item">
                            Id: {{ user.id }},
                            <a href="templates/user_card.html">Username: {{ user.username }}</a>,
                            Age: {{ user.age }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
